<!-->
<div class="row">
<div class="container">

<br>
<table class="table table-striped">
  <thead>
    <tr>
      
      <th>Product Name</th>
      <th>Company Name</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor='let prod of products'>
      
      <td>{{prod.productName}}</td>
      <td>{{prod.companyName}}</td>
      <td>{{prod.price}}</td>
      <td>{{prod.quantity}}</td>
    </tr>
    
  </tbody>
</table>

<button class="btn btn-" (click)="addProduct()">Add Product</button>
  



</div>
</div>
<div class="col-md-4" *ngFor="let deal of publicDeals">
  <div class="panel panel-default">
    <div class="panel-heading">Panel Heading</div>
    <div class="panel-body">Panel Content</div>
  </div>
</div>-->
<div class="container">
  <h2>Panel Heading</h2>
  <div  class="col-md-4" *ngFor="let product of productlist">
  <div class="panel panel-default">
    <div class="panel-heading">Panel Heading</div>
    <div class="panel-body">Panel Content</div>
  </div>
  </div>
</div>