
<div class="container">
  <div class="row">
    <div style="text-align:center">
      
      <h2>Login Here</h2>
     <!-- <div class="input-group margin-bottom-sm">-->
        
      
      <div class="input-group">
       <!-- <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>-->
       <label>Username</label>
       
        <input class="form-control" type="text" placeholder="enter your username">
      </div>
      <br>
      <div class="input-group">
       <!-- <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>-->
       <label>Password</label>
        <input class="form-control" type="password" placeholder="enter your Password">
      </div>
      <br>
      <button type="button" class="btn btn-success" (click)="onclick()">Login</button>
      
    
  </div>
</div>
</div>
